<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            <div class="container-fluid">
                <div id="search" class="row">
                    <div class="col-md-12">
                        <form ng-submit="addSkill()" class="form-inline" role="form">
                            <button type="submit" class="btn btn-primary" ng-click="search()">
                                <i class="glyphicon glyphicon-plus"></i> Ajoute cette nouvelle compétence:
                            </button>
                            <div class="form-group">
                                <input type="text" class="form-control" id="tag" ng-model="newSkill" placeholder="Nouvelle compétence">
                            </div>
                        </form>
                    </div>
                </div>
                <div id="tags" class="row">
                    <div class="col-md-4">
                        Tes compétences:
                    </div>
                    <div class="col-md-8">
                        <span ng-repeat="skill in skills">
                            <span class="badge">{{skill.name}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>