<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            <div class="container">
                <div id="search" class="row">
                    <form  ng-submit="addTag()" class="form-inline" role="form">
                        <div class="form-group has-success has-feedback">
                            <label class="control-label" for="tag">Ajouter une compétence:</label>
                            <input type="text" class="form-control" id="tag" ng-model="query">
                            <span class="glyphicon glyphicon-plus form-control-feedback" ng-click="search()" placeholder="Angular"></span>
                        </div>
                    </form>
                </div>
                <div id="tags" class="row">
                    Tes compétences:
                    <span ng-repeat="tag in tags">

                    </span>
                </div>
            </div>
        </div>
    </div>
</div>