<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-3">

            <div>
                <div id="search" class="row">
                    <div class="col-md-12">
                        <form ng-submit="search()" class="form-inline" role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" id="skill" ng-model="query" placeholder="compétence">
                            </div>
                            <button type="submit" class="btn btn-primary" ng-click="search()">
                                Chercher une compétence <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div id="results" class="row">
                    <div class="col-md-12">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="xebian in results"><a class="text-center" class="badge" href="#/profile/{{xebian}}">{{xebian}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
